<%- include('templates/head.ejs', {TituloPrincipal:'Reservas de Equipos'}) %>
<body>
    <%- include('templates/nav') %>
    <div class="tituloPrincipal">
        <h1 class="centrado"> <%= title %> </h1>
    </div>
    <div>
        <h3 class="centrado"> <%= dato1 %> </h3>
        <h3 class="centrado"> <%= dato2 %> </h3>
    </div>

    <br>
    <br>
    <br>
    <div class="row">
        <%- include('templates/listar/reservaGet') %>
    </div>
</body>
</html>