<% if (resultado.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Trabajos de Mantenimiento para Equipos Registrados</h3>
<% } else { resultado.forEach(mantenimiento => {%>
    
    <div class="containerT">
        <p class="textcentrado"> <span>Mantenimiento #<%= mantenimiento.id %></span></p>
        <p class="textcentrado title"><%= mantenimiento.motivo  %> </p>
        <p>Fecha: <%= mantenimiento.fecha %></p>
        <p>Finaliza el día: <%= mantenimiento.fecha_fin  %></p>
        <p><i>Equipo en mantenimiento: </i> <b><%= mantenimiento.equipo_mantenimiento  %></b> <a href="/equipos/id<%= mantenimiento.equipo_mantenimiento %>"><button class="ver">Ver Equipo</button></a></p>
        <p><i>Personal Encargado: </i> <b><%= mantenimiento.personal_encargado  %></b> <a href="/personal/id<%= mantenimiento.personal_encargado  %>"><button class="ver">Ver Personal</button></a></p>
    </div>
    
    
<% })} %>