<% if (resultado.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Reservas de Equipo Registradas</h3>
    <a href="/reserva_equipos/agregar"> <button class="buttonAgregar">¡Añade uno!</button> </a>
<% } else { resultado.forEach(reserva => {%>
    
    <div class="containerT">
        <p class="textcentrado"> <span>Reserva #<%= reserva.id %></span></p>
        <p class="textcentrado title"><%= reserva.motivo  %> </p>
        <p>Fecha: <%= reserva.fecha %></p>
        <p>Hora de inicio: <%= reserva.hora_inicio  %></p>
        <p>Hora de fin: <%= reserva.hora_fin  %></p>
        <p><i>Solicitante: </i> <b><%= reserva.solicitante %></b></p>
        <p><i>Equipo solicitado: </i> <b><%= reserva.equipo_solici %></b> </p>
        <p><i>Personal solicitado: </i> <b><%= reserva.personal_solici %></b></p>
    </div>
    
    
<% })} %>