<% if (resultadoRs.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Reservas de Espacios Registrados</h3>
    <a href="/reserva_espacios/agregar"> <button class="buttonAgregar">¡Añade uno!</button> </a>
<% } else { %>
    <div class="centrado">
        <a href="/reserva_espacios/agregar"> <button class="buttonAgregar"><h3>¡Añadir!</h3></button> </a>
    </div>
<%  resultadoRs.forEach(rq => {%>
    
    <div class="containerT">
        <p class="textcentrado"> <span>Reserva de Equipo #<%= rq.id %></span></p>
        <p class="textcentrado title"><%= rq.descripcion  %> </p>
        <p>Inicia el día: <%= rq.fecha_inicio  %></p>
        <p>Finaliza el día: <%= rq.fecha_fin  %></p>
        <p><i>Personal solicitado: </i> <b><%= rq.personal_solici  %></b> <a href="/equipos/id<%= rq.personal_solici %>"><button class="ver">Ver</button></a></p>
        <p><i>Equipo solicitado: </i> <b><%= rq.equipos_solici  %></b> <a href="/equipos/id<%= rq.equipos_solici %>"><button>Ver</button></a></p>
        <p><i>Reserva: </i> <b><%= rq.reserva_solici  %></b> <a href="#"><button>Ver</button></a></p>
    </div>
    
<% })} %>

<% if (resultadoRq.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Reservas de Equipos Registrados</h3>
    <a href="/reserva_equipos/agregar"> <button class="buttonAgregar">¡Añade uno!</button> </a>
<% } else { %>
    <div class="centrado">
        <a href="/reserva_equipos/agregar"> <button class="buttonAgregar"><h3>¡Añadir!</h3></button> </a>
    </div>
<%  resultadoRq.forEach(rq => {%>
    
    <div class="containerT">
        <p class="textcentrado"> <span>Reserva de Equipo #<%= rq.id %></span></p>
        <p class="textcentrado title"><%= rq.descripcion  %> </p>
        <p>Inicia el día: <%= rq.fecha_inicio  %></p>
        <p>Finaliza el día: <%= rq.fecha_fin  %></p>
        <p><i>Personal solicitado: </i> <b><%= rq.personal_solici  %></b> <a href="/equipos/id<%= rq.personal_solici %>"><button class="ver">Ver</button></a></p>
        <p><i>Equipo solicitado: </i> <b><%= rq.equipos_solici  %></b> <a href="/equipos/id<%= rq.equipos_solici %>"><button>Ver</button></a></p>
        <p><i>Reserva: </i> <b><%= rq.reserva_solici  %></b> <a href="#"><button>Ver</button></a></p>
    </div>
    
<% })} %>