<% if (resultado.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Tickets Vendidos</h3>
    <a href="/tickets/agregar"> <button class="buttonAgregar">¡Añade uno!</button> </a>
<% } else { resultado.forEach(ticket => {%>
    <tr>
        <th class="centeer"><%= ticket.id %></th>
        <th> <%= ticket.evento %> <a href="/eventos/id<%= ticket.evento %>"><button style="float: right;" class="verT">Ver Evento</button></a></th>
        <th><%= ticket.nombre_comprador %></th>
        <th><%= ticket.CI_comprador %></th>
        <th><%= ticket.tipo %></th>
    </tr>
    
<% })} %>


