<% if (resultado.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Personal Registrados</h3>
    <a href="/personal/agregar"> <button class="buttonAgregar">¡Añade uno!</button> </a>
<% } else { resultado.forEach(personal => {%>
    
    <div class="containerP">
        <p class="textcentrado"><span> #<%= personal.id %> <%= personal.nombre  %></span> <span><%= personal.cargo  %></span></p>
        <p class="textcentrado"><i>C.I: </i> <b><%= personal.CI %></b> ....  <i>Usuario: </i> <b><%= personal.usuario_unico  %></b>  </p>
        <p class="textcentrado"><i>Especialidad: </i><b><%= personal.especialidad  %></b></p>
    </div>
    
    
<% })} %>