<% if (resultado.length === 0) {%>
    <h3 class="TituloPrincipal">No hay Trabajos Registrados</h3>
    <a href="/trabajos/agregar"> <button class="buttonAgregar">¡Añade uno!</button> </a>
<% } else { resultado.forEach(trabajo => {%>
    
    <div class="containerT">
        <p class="textcentrado"> <span>Trabajo #<%= trabajo.id %></span></p>
        <p class="textcentrado title"><%= trabajo.descripcion  %> </p>
        <p>Inicia el día: <%= trabajo.fecha_inicio  %></p>
        <p>Finaliza el día: <%= trabajo.fecha_fin  %></p>
        <p><i>Personal solicitado: </i> <b><%= trabajo.personal_solici  %></b> <a href="/personal/id<%= trabajo.personal_solici  %>"><button class="ver">Ver Personal</button></a></p>
        <p><i>Equipo solicitado: </i> <b><%= trabajo.equipos_solici  %></b> <a href="/equipos/id<%= trabajo.equipos_solici %>"><button class="ver">Ver Equipo</button></a></p>
        <p><i>Reserva: </i> <b><%= trabajo.reserva_solici  %></b> <a href="/reserva_equipos/id<%= trabajo.reserva_solici %>"><button class="ver">Ver Reserva</button></a></p>
    </div>
    
    
<% })} %>